@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

main {
  background: hsl(0, 100%, 74%);
  padding: 1rem;
}
.Container {
  background: url("../img/bg-intro-desktop.png") no-repeat;
  padding: 2rem;
}

.Flex-Grid-Container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  flex-direction: row;
}

.content1 > h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2rem;
  width: 16ch;
}

.content1 > p {
  font-size: 1.2rem;
  color: #ffffff;
  width: 49ch;
}

.content2 > p {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  background: hsl(248, 32%, 49%);
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.content2 > p > span {
  font-weight: 600;
}

.content2 > form {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  gap: 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
}

input {
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  padding: 0.8rem;
  outline: none;
  width: 100%;
  margin-bottom: 1rem;
}

input::-webkit-input-placeholder {
  font-weight: 600;
}

input:focus {
  border: 1px solid hsl(249, 10%, 26%);
}

input:invalid {
  border-color: hsl(0, 100%, 74%);
  background-image: url("../img/icon-error.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: 95%;
}

.errormsg {
  font-size: 0.7rem;
  margin-top: -1rem;
  text-align: right;
  color: hsl(0, 100%, 74%);
  visibility: visible;
}

input:focus ~ .errormsg,
input:valid ~ .errormsg {
  visibility: hidden;
}

.btn {
  outline: none;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  background: hsl(154, 59%, 51%);
  color: #ffffff;
}

small {
  font-size: 0.5rem;
  text-align: center;
  color: #888484;
  margin-top: -1rem;
}

small > span {
  font-weight: 600;
  color: #f20b0b;
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  .content1 > h1 {
    font-size: 2.5rem;
  }

  .content1 > p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 375px) {
  .mobile-container {
    background: url("../img/bg-intro-mobile.png") no-repeat center center cover;
  }
  .Flex-Grid-Container {
    flex-direction: column;
  }
  .content1 > h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .content1 > p {
    font-size: 0.5rem;
  }

  .content2 > form {
    padding: 1rem;
  }
  input {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
  .content2 > p {
    font-size: 0.5rem;
    padding: 0.7rem;
    margin-bottom: 2rem;
  }
  .content2 .btn {
    font-size: 0.5rem;
  }
}
